<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/NKECHI/Documents/NKECHI/automationTest/selenium_webdriver_automation/page_object_model/Deydam_POM">
        <classes>
            <class name="Tests.LoginTests">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>