<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/NKECHI/Documents/NKECHI/automationTest/selenium_webdriver_automation/page_object_model/orangeHRM_POM">
        <classes>
            <class name="testLogin.LoginTests">
                <methods>
                    <include name="testALoginPanel"/>
                    <include name="testACompanyLogo"/>
                    <include name="testAForgotPassword"/>
                    <include name="VerifyLogin"/>
                    <include name="testAPageTitle"/>
                </methods>
            </class>
            <class name="testDashBoard.DashboardTests">
                <methods>
                    <include name="testLeaveRequest"/>
                    <include name="testLogout"/>
                    <include name="CheckingLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>