<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/NKECHI/Documents/NKECHI/automationTest/selenium_webdriver_automation/single_page_approach/Deydam"><classes><class name="Login.LoginTest"><methods><include name="testSuccessfulLogin"/><include name="testSuccessfulLogout"/><include name="testNegativeLogin"/></methods></class></classes></test></suite>